[Unit]
Description=Consul Container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStartPre=/usr/bin/docker pull progrium/consul
ExecStart=/usr/bin/docker run -p 8500:8500 --name=consul progrium/consul -server -bootstrap -advertise {{ ansible_default_ipv4.address }}
ExecStop=/usr/bin/docker stop -t 2 consul

[Install]
WantedBy=multi-user.target
