[Unit]
Description=Registrator Container
Requires=consul.service
After=consul.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:latest
ExecStart=/usr/bin/docker start -a registrator
ExecStop=/usr/bin/docker stop -t 2 registrator

[Install]
WantedBy=multi-user.target
