[Unit]
Description=Registrator Container
Requires=consul.service
After=consul.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:latest
ExecStartPre=-/usr/bin/docker run -d --name=registrator --net=host --volume=/var/run/docker.sock:/tmp/docker.sock gliderlabs/registrator:latest consul://127.0.0.1:8500  -ip {{ ansible_eth0.ipv4.address }}
ExecStart=/usr/bin/docker start -a registrator
ExecStop=/usr/bin/docker stop -t 2 registrator

[Install]
WantedBy=multi-user.target
