<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>repo_url</name>
          <description>Git repository url</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>repo</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>env</name>
          <description></description>
          <defaultValue>dev</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>python &lt;&lt; END
import os
if os.path.isdir(&quot;$repo&quot;):
    os.system(&quot;cd $repo &amp;&amp; git -c http.sslVerify=false pull&quot;)
else:
    os.system(&quot;git -c http.sslVerify=false clone $repo_url&quot;)
END</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $repo
docker-compose build
docker images
docker tag &quot;$repo&quot;_&quot;$env&quot; localhost:5000/&quot;$repo&quot;_&quot;$env&quot;
docker push localhost:5000/&quot;$repo&quot;_&quot;$env&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $repo
docker-compose stop
docker-compose up -d</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cat /var/lib/jenkins/jobs/test/config.xml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
